{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <form method = "POST" action="{{url_for('page', page_path = page_path)}}">
            <input type="submit" name = "add_to_favorites" value="Add to Favorites" id="add_to_favorites_ff" />
        </form>
        <h1>Final Fantasy VII (1997)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Final Fantasy VII is a role-playing game developed and published by Square Enix in 1997. It is the seventh installment in the Final Fantasy series and features a group of protagonists led by Cloud Strife as they attempt to stop the world-dominating plans of the antagonist Sephiroth.</p>
        <p>The game features a turn-based battle system, with players controlling their characters and selecting various commands, such as attacking, using magic, or using items, to defeat enemies. The game also includes numerous side quests and minigames, as well as a variety of non-playable characters with their own unique personalities and backstories.</p>
        <p>Final Fantasy VII was a major commercial and critical success, selling over 10 million copies worldwide and receiving widespread acclaim for its story, characters, and gameplay. It has since been re-released on numerous platforms and has inspired numerous spin-offs, sequels, and adaptations.</p>
    </div>
    {%else%}
    <div class="container">
        <h1>Final Fantasy VII (1997)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Final Fantasy VII is a role-playing game developed and published by Square Enix in 1997. It is the seventh installment in the Final Fantasy series and features a group of protagonists led by Cloud Strife as they attempt to stop the world-dominating plans of the antagonist Sephiroth.</p>
        <p>The game features a turn-based battle system, with players controlling their characters and selecting various commands, such as attacking, using magic, or using items, to defeat enemies. The game also includes numerous side quests and minigames, as well as a variety of non-playable characters with their own unique personalities and backstories.</p>
        <p>Final Fantasy VII was a major commercial and critical success, selling over 10 million copies worldwide and receiving widespread acclaim for its story, characters, and gameplay. It has since been re-released on numerous platforms and has inspired numerous spin-offs, sequels, and adaptations.</p>
    </div>
    {% endif %}
{% endblock %}