{% block content %}
    <div class="container">
        <h1>GoldenEye 007 (1997)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>GoldenEye 007 is a first-person shooter developed by Rare and published by Nintendo for the Nintendo 64 console in 1997. It is based on the James Bond film GoldenEye and features a single-player campaign and a multiplayer mode.</p>
        <p>The game's single-player campaign follows the plot of the movie, with players taking on the role of James Bond as he attempts to stop a group of terrorists from using a satellite weapon to destroy London. The multiplayer mode features a variety of game modes and maps, and was praised for its innovation and fun factor.</p>
        <p>GoldenEye 007 was a major commercial success and is considered one of the greatest video games of all time. It has been credited with popularizing the first-person shooter genre on consoles and influencing many subsequent games in the genre.</p>
    </div>
{% endblock %}