<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Project #1 : Wiki Viewer</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        Welcome to team's SPONGEBOB's Project 
    </div>
    
    <div>
        <h2>Navigation Bar feature here?</h2>
        <ul class="nav-list">
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="{{ url_for('home') }}">Home</a></li>
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="{{ url_for('page_index') }}">Pages</a></li>
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="{{ url_for('about') }}">About</a></li>
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;">|</li>
            <td style="margin-left: 10px; margin-right: 10px;"><a href="{{ url_for('upload_file') }}">Upload</a></td> <!-- THIS UPLOAD PART NEEDS TO BE ONLY WHEN USER IS SIGNED IN, IN COMBINATION WITH LOGOUT -->
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="{{ url_for('login') }}">Log In</a></li>
            <li style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="{{ url_for('signup') }}">Sign Up</a></li>
        </ul>
    </div>

</html>