{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <form method = "POST" action="{{url_for('page', page_path = page_path)}}">
            <input type="submit"  name = "add_to_favorites" value="Add to Favorites" id="add_to_favorites_pm" />
        </form>
    {% endif %}
    <div class="container">
        <h1>Pac-Man (1980)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Pac-Man is an arcade game developed and published by Namco in 1980. It was created by Toru Iwatani and was one of the first arcade games to become a cultural phenomenon. The game follows the adventures of Pac-Man, a yellow creature with a circular mouth, as he navigates a maze, eating dots and avoiding four ghosts.</p>
        <p>The gameplay of Pac-Man is relatively simple. The player must guide Pac-Man through a maze while avoiding the four ghosts. If Pac-Man eats a power pellet, he can turn the tables on the ghosts and eat them instead. The objective of the game is to eat all the dots in the maze while avoiding the ghosts. If Pac-Man is caught by a ghost, he loses a life.</p>
        <p>Pac-Man is widely regarded as one of the most iconic video games of all time, and has been ported to numerous platforms over the years. The game has inspired numerous sequels and spin-offs, as well as a variety of merchandise and media adaptations.</p>
    </div>
{% endblock %}