{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <form action="/add-to-favs/">
            <input type="submit" name = "add_to_favorites" value="Add to Favorites S" />
        </form>
        <h1>Sonic the Hedgehog (1991)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Sonic the Hedgehog is a platform game developed and published by Sega for the Sega Genesis console in 1991. It was designed by Yuji Naka, and it follows the adventures of Sonic as he tries to stop his nemesis, Dr. Eggman, from taking over the world.</p>
        <p>The game introduced Sonic's signature speed-based gameplay, as well as his design and personality, which would go on to become iconic features of the franchise. It also featured an energetic soundtrack composed by Masato Nakamura.</p>
        <p>Sonic the Hedgehog has become one of the most successful and recognizable video game franchises of all time, with numerous sequels, spin-offs, and adaptations across various media.</p>
    </div>
    {%else%}
    <div class="container">
        <h1>Sonic the Hedgehog (1991)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Sonic the Hedgehog is a platform game developed and published by Sega for the Sega Genesis console in 1991. It was designed by Yuji Naka, and it follows the adventures of Sonic as he tries to stop his nemesis, Dr. Eggman, from taking over the world.</p>
        <p>The game introduced Sonic's signature speed-based gameplay, as well as his design and personality, which would go on to become iconic features of the franchise. It also featured an energetic soundtrack composed by Masato Nakamura.</p>
        <p>Sonic the Hedgehog has become one of the most successful and recognizable video game franchises of all time, with numerous sequels, spin-offs, and adaptations across various media.</p>
    </div>
    {% endif %}
{% endblock %}