{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <form method="POST" action="{{url_for('add_to_favorties', page_path = page_path)}}">
            <input type="submit" name = "add_to_favorites" value="Add to Favorites" id="add_to_favorites_si" />
        </form>
    {% endif %}
    <div class="container">
        <button type="button">Add to Favorites</button>
        <h1>Space Invaders (1978)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Space Invaders is an arcade game developed by Tomohiro Nishikado and released in 1978. It was originally released in Japan by Taito and later licensed for production in the United States by the Midway division of Bally. The game is considered a classic and helped to popularize video gaming as a mainstream entertainment medium.</p>
        <p>The gameplay of Space Invaders is simple yet addictive. The player controls a small spaceship that must defeat a fleet of alien invaders that are slowly descending towards Earth. The player must shoot the aliens before they reach the bottom of the screen and successfully invade the planet. As the game progresses, the aliens become faster and more difficult to defeat, making the gameplay more challenging.</p>
        <p>Space Invaders was one of the earliest video games to become a cultural phenomenon. It has been referenced in popular culture in movies, television shows, and music. The game is still enjoyed by fans today and has been ported to many different platforms over the years.</p>
    </div>
{% endblock %}