{% block content %}
    <div class="container">
        <button type="button">Add to Favorites</button>
        <h1>Street Fighter II (1991)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Street Fighter II is a fighting game developed and published by Capcom in 1991. It is the second installment in the Street Fighter series and features a roster of eight playable characters, each with their own unique fighting style and special moves.</p>
        <p>The game is played in a best-of-three-rounds format, with the winner being the first to win two rounds. Players can perform a variety of moves, including basic attacks, special moves, and combos, by inputting specific button combinations.</p>
        <p>Street Fighter II was a major success for Capcom, becoming one of the most popular and influential fighting games of all time. It has been re-released and ported to numerous platforms over the years, and has spawned numerous sequels and spin-off titles.</p>
    </div>
{% endblock %}