{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <button type="button">Add to Favorites</button>
        <h1>Super Mario Bros. (1985)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Super Mario Bros. is a platform game developed and published by Nintendo for the NES console in 1985. It was designed by Shigeru Miyamoto and Takashi Tezuka, and it follows the adventures of Mario and Luigi as they try to rescue Princess Peach from the evil Bowser.</p>
        <p>The game is divided into eight worlds, each of which has four levels. The player must navigate Mario or Luigi through each level, defeating enemies, collecting coins and power-ups, and avoiding obstacles along the way. At the end of each world, the player must defeat a boss in order to progress to the next world.</p>
        <p>Super Mario Bros. is one of the best-selling video games of all time, having sold over 40 million copies worldwide. It has also been credited with popularizing the side-scrolling platform game genre and inspiring many sequels and spin-off titles.</p>
    </div>
    {%else%}
    <div class="container">
        <h1>Super Mario Bros. (1985)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Super Mario Bros. is a platform game developed and published by Nintendo for the NES console in 1985. It was designed by Shigeru Miyamoto and Takashi Tezuka, and it follows the adventures of Mario and Luigi as they try to rescue Princess Peach from the evil Bowser.</p>
        <p>The game is divided into eight worlds, each of which has four levels. The player must navigate Mario or Luigi through each level, defeating enemies, collecting coins and power-ups, and avoiding obstacles along the way. At the end of each world, the player must defeat a boss in order to progress to the next world.</p>
        <p>Super Mario Bros. is one of the best-selling video games of all time, having sold over 40 million copies worldwide. It has also been credited with popularizing the side-scrolling platform game genre and inspiring many sequels and spin-off titles.</p>
    </div>
    {% endif %}
{% endblock %}