{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        <form method = "POST" action="{{url_for('page', page_path = page_path)}}">
            <input type="submit" name = "add_to_favorites" value="Add to Favorites" id="add_to_favorites_t" />
        </form>
    {% endif %}
    <div class="container">
        <h1>Tetris (1984)</h1>
        <hr>
        {% include "nav_bar.html" %}
        <hr>
        <p>Tetris is a tile-matching puzzle video game developed and published by Russian game designer Alexey Pajitnov in 1984. The game was originally designed and programmed on an Elektronika 60 computer, and later ported to many other platforms, including the NES, Game Boy, and PC.</p>
        <p>The goal of Tetris is to place different shaped falling blocks (called tetrominoes) into a playfield in a way that creates complete horizontal lines of blocks. When a line is completed, it disappears and any blocks above it shift down to fill the empty space. The game ends when the playfield fills up and there is no room for new tetrominoes.</p>
        <p>Tetris is one of the most popular and recognizable video games of all time, and has been adapted into many different forms, including board games, movies, and even a stage show.</p>
    </div>
{% endblock %}